@font-face {
  font-family: "Inconsolata";
  font-weight: normal;
  src: url(./Inconsolata-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Inconsolata";
  font-weight: bold;
  src: url(./Inconsolata-Bold.ttf) format("truetype");
}