@font-face {
  font-family: "Inconsolata";
  font-weight: normal;
  src: url(fonts/Inconsolata/Inconsolata-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Inconsolata";
  font-weight: bold;
  src: url(fonts/Inconsolata/Inconsolata-Bold.ttf) format("truetype");
}