h1{
  text-align: center;
}

.valium-example {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.valium-example .valium-example-input-group {
  margin-top: 1em;
}

.valium-example .valium-example-input-group label {
  color: #555050;
}

.valium-example input, 
.valium-example select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
}

.valium-example input {
  border: 1px solid #ccc;
  border-radius: 4px;
}

.valium-example input:focus {
  border-color: rgb(101, 114, 233);
}

.valium-example input.invalid,
.valium-example select.invalid {
  border-color: red;
}
.valium-example .valium-example-input-feedback {
  color: red;
  font-style: italic;
  font-size: 0.8em;
}

.valium-example input.valid > .valium-example-input-feedback,
.valium-example select.valid > .valium-example-input-feedback {
  display: none;
}




.valium-example .valium-example-buttons {
  text-align: center;
}

.valium-example input[type=submit],
.valium-example button {
  width: 200px;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.valium-example input[type=submit]:hover,
.valium-example button:hover {
  background-color: #45a049;
}