body {
  background-color: #f2f2f2;
}

.valium-example {
  border-radius: 5px;
  padding: 1em;
}

.valium-example .centered {
  text-align: center;
}

.valium-example .mgbottom {
  margin-bottom: 2em;
}



.valium-example .row {
  display: flex;
}

.valium-example .column {
  flex: 50%;
  margin: 0 2em;
  background-color: #ece8e8;
  padding: 1em;
}




.valium-example .valium-example-input-group {
  margin-top: 1em;
}

.valium-example .valium-example-input-group label {
  color: #555050;
}

.valium-example .valium-example-input-group input, 
.valium-example .valium-example-input-group textarea, 
.valium-example .valium-example-input-group select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
}

.valium-example .valium-example-input-group input,
.valium-example .valium-example-input-group textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
}

.valium-example .valium-example-input-group input:focus,
.valium-example .valium-example-input-group textarea:focus {
  border-color: rgb(101, 114, 233);
}

.valium-example .valium-example-input-group input.invalid,
.valium-example .valium-example-input-group textarea.invalid,
.valium-example .valium-example-input-group select.invalid {
  border-color: red;
}
.valium-example .valium-example-input-feedback {
  color: red;
  font-style: italic;
  font-size: 0.8em;
}

.valium-example .valium-example-input-group input.valid > .valium-example-input-feedback,
.valium-example .valium-example-input-group textarea.valid > .valium-example-input-feedback,
.valium-example .valium-example-input-group select.valid > .valium-example-input-feedback {
  display: none;
}




.valium-example .valium-example-buttons {
  text-align: center;
}

.valium-example input[type=submit],
.valium-example button {
  width: 200px;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.valium-example input[type=submit]:hover,
.valium-example button:hover {
  background-color: #45a049;
}